body,
html {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.wrapper {
    background-image: url("img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: none;
    left: calc(50% - 862px/2);
    top: calc(50% - 555px/2 - 48px);
    height: 80vh;
}

.user_card {
    width: 292px;
    height: 392px;
    left: 285px;
    top: 150px;
    margin-top: 20px;
    background: #FDFDFD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
}

.brand_logo_container {
    position: relative;
    width: 70px;
    height: 70px;
    top: 10px;
}

.brand_logo {
    width: 50px;
    height: 50px;
    top: 10px;
    background: #FDFDFD;
}








.login_btn {
    width: 113px;
    height: 8vh;

    top: calc(50% - 33px/2 + 157px);
    left: calc(50% - 46px/2 + 1px);

    border-radius: 8px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
}

.links {
    width: 205px;
    height: 14px;
    top: 517px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #000000;

    margin: auto;
    margin-top: 94px;
}